/crash-reports
/saves
/logs
/local
/downloads
/patchouli_books
/options.txt
/optionsof.txt
/usernamecache.json
/usercache.json
/shaderpacks
/screenshots
/resourcepacks
/multiblocked
/journeymap
/minecraftinstance.json
/ldlib
/.curseclient
/rhino.local.properties
/usercache.json
/usernamecache.json
/o_prof
/patchouli_data.json
/mods/OptiFine_1.18.2_HD_U_H9.jar
/config/powah.json5
/optionsshaders.txt