/crash-reports
/saves
logs
/patchouli_books
/options.txt
/optionsof.txt
/usernamecache.json
/usercache.json
/shaderpacks
/screenshots
/backups
/backups.json
/optionsshaders.txt
/resourcepacks
/multiblocked
/journeymap
/minecraftinstance.json
/ldlib
/.curseclient
/.mixin.out
/rhino.local.properties
/usercache.json
/usernamecache.json
/o_prof